@tailwind base;
@tailwind components;
@tailwind utilities;

.tile-quantum {
  background-color: purple;
}

.tile-ocean {
  background-color: blue;
}

.tile-forest {
  background-color: green;
}

.tile-stone {
  background-color: gray;
}

.tile-sand {
  background-color: yellow;
}

.tile-grass {
  background-color: lightgreen;
}

.tile {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.tile-selected {
  border: 2px solid red;
}

.tile-hovered {
  border: 2px solid blue;
}

.tile-hover-neighbors {
  border: 2px solid green;
}

.map-col:nth-child(even) {
  margin-top: 25px;
}
